<body>
  <p>{{name}}</p>

<br><br><br>

<ul> 
    <li  *ngFor="let student of studentArr; trackBy: tracking">
       {{student.tracking}} 
    </li>
 </ul>

<button type="button" style="margin: 10px;" (click)="onClickMe()">button 1</button>
<p>{{clickMessage}}</p>

<div class="card" *ngFor="let student of studentArr">

   <div class="id">
      {{student.id}}
   </div>

   <div class="name">
      {{student.name}}
   </div>

   <div class="movies" *ngIf="student.movies">
      Movies: {{student.movies}} 
   </div>

</div>
<h2>Source code version</h2>
    <button class = "btn" type="button" (click)="reset()">reset</button>
    <button class = "btn" type="button" (click)="increase()">increase</button>
    <button class = "btn" type="button" (click)="setToOneHundred()">set to 100</button>
    
    <p>counter = {{number}}</p>

</body>